* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Mobile Styles */
@media (max-width: 1176px) {
    .wrapper {
        padding: 20px;
    }
}